name: "온폴 CI/CD 실습"

on:
  push:
      branches:
        - feat/api
      tags:
        - release.*

jobs:
  Job1:
    runs-on: ubuntu-latest

    steps:
      - run: echo "내용...${{ github.repository }}"
      - uses: actions/checkout@v4
      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: .env setup
        run: |
          echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
          echo "DB_DATABASE=${{ secrets.DB_DATABASE }}" >> .env
          echo "S3_KEYID=${{ secrets.S3_KEYID }}" >> .env
          echo "S3_PRIVATEKEY=${{ secrets.S3_PRIVATEKEY }}" >> .env
          echo "S3_REGION=${{ secrets.S3_REGION }}" >> .env
          echo "BUCKET_NAME=${{ secrets.BUCKET_NAME }}" >> .env
      - name: Set up environment variables
        env: 
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          S3_KEYID: ${{ secrets.S3_KEYID }}
          S3_PRIVATEKEY: ${{ secrets.S3_PRIVATEKEY }}
          S3_REGION: ${{ secrets.S3_REGION }}
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      
      - run: npm install
      - run: node main.js

      # 백엔드
      # 업데이트 하는 과정을 명령어로 구성하기
      # ex. nodemon -> git pull
      # f12 full size screenshot
